{{- define "main" -}}
<style>
    form {
        width: 80%;
        margin: 10% auto;
        min-width: 9rem;
    }

    input,
    textarea {
        float: left;
        width: 100%;
        max-width: 100%;
        border: none;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        background: darken(#f9f9f9, 10%);
        color: darken(#f9f9f9, 50%);
    }

    textarea {
        height: 10rem;
    }

    button {
        margin-top: 15px;
        margin-bottom: 25px;
        background-color: #00d1b2;
        padding: 12px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid 00d1b2;
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        cursor: pointer;
        width: 35%;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-weight: bold;
    }
</style>

<section class="hero is-fullheight is-default is-bold">
    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}

    <form name="contact" method="POST" netlify>
        <p>
            <label>お名前<br><input type="text" name="name" /></label>
        </p>
        <p>
            <label>メールアドレス<br> <input type="email" name="email" /></label>
        </p>
        <p>
            <label>メッセージ<br> <textarea name="message"></textarea></label>
        </p>
        <p><button type="submit">送信</button></p>
    </form>
</section>

{{- partial "footer.html" . -}}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{- partial "sidebar.html" . -}}

{{- end -}}